{% extends "layout.html" %}

{% block head %}
    <title>About</title>
{% endblock%}

{%block body%}
<div class= "content">
    <center><h2> ABOUT </h2></center>
    <h6> SEE ORGS WITH C-ORG! </h4>
    <h6> Howdy y'all! This is your one-stop destination for all #Aggie Organizations! </h5>
    <h6> C-ORG is a search tool that helps students at Texas A&M University connect with the various student organizations that are active across campus. There are options to look up orgs, both by their names as well as their categorical tags. The website provides options to get in contact with the organizations that you're interested in and also see the membership requirements, amongst other details. </h6>

</div>
{% endblock %}